%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = t('.invite_from', user_name: @user.full_name)
%p{align: "left", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"}
  = simple_format @text
%p{align: "center", style: "color: #222222; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: center; line-height: 19px; font-size: 14px; margin: 20px 0 20px; padding: 0;"}
  = link_to t('.join'), t('.join_link'), style:'padding:9px 23px;background:#cfa161;color:#000;text-decoration:none;'
