%h1{align: "left", style: "font-size: 22px; color: #cfa161; font-family: Garamond, 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: justify; line-height: 1.3; word-break: normal; margin: 15px 0; padding: 0;"}
  = t('.lesson_booking_confirmation', location: I18n.t("location.#{@lesson.location}"))
