---
http_interactions:
- request:
    method: post
    uri: https://api.intprod01.resamania.fr/rest/novagile/user
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - mrozieres
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="intprod01", nonce="g4yTFBf4BAA=4ff9633515a54d1615c0f40dbaf93167dbaa9c22",
        algorithm=MD5, qop="auth"
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>401 Authorization Required</title>
        </head><body>
        <h1>Authorization Required</h1>
        <p>This server could not verify that you
        are authorized to access the document
        requested.  Either you supplied the wrong
        credentials (e.g., bad password), or your
        browser doesn't understand how to supply
        the credentials required.</p>
        </body></html>
  recorded_at: Mon, 28 Apr 2014 09:38:40 GMT
- request:
    method: post
    uri: https://api.intprod01.resamania.fr/rest/novagile/user
    body:
      encoding: UTF-8
      string: '{"id":50,"mail":"eee460c1acd8-609@example.com","authorized":true,"card_reference":"DFE44D34F662D199","admin":false}'
    headers:
      X-Auth:
      - mrozieres
      Content-Type:
      - application/json
      Authorization:
      - Digest username="letemple"
      - cnonce="57f785a1af1c424046e70e6ccb1fc48d"
      - nc=00000001
      - nonce="g4yTFBf4BAA=4ff9633515a54d1615c0f40dbaf93167dbaa9c22"
      - qop="auth"
      - realm="intprod01"
      - response="e24e835f5d3101078a85a0335597c4f4"
      - uri="/rest/novagile/user"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Apr 2014 09:38:40 GMT
recorded_with: VCR 2.8.0
