---
http_interactions:
- request:
    method: delete
    uri: https://api.intprod01.resamania.fr/rest/novagile/user/90000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - mrozieres
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Www-Authenticate:
      - Digest realm="intprod01", nonce="wpUUPxf4BAA=87d7c03b82d43db577e28b8d8d53c8cfb277a790",
        algorithm=MD5, qop="auth"
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>401 Authorization Required</title>
        </head><body>
        <h1>Authorization Required</h1>
        <p>This server could not verify that you
        are authorized to access the document
        requested.  Either you supplied the wrong
        credentials (e.g., bad password), or your
        browser doesn't understand how to supply
        the credentials required.</p>
        </body></html>
  recorded_at: Mon, 28 Apr 2014 09:50:33 GMT
- request:
    method: delete
    uri: https://api.intprod01.resamania.fr/rest/novagile/user/90000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth:
      - mrozieres
      Content-Type:
      - application/json
      Authorization:
      - Digest username="letemple"
      - cnonce="0f86b4f51faa7ba40bc10a31978a7668"
      - nc=00000001
      - nonce="wpUUPxf4BAA=87d7c03b82d43db577e28b8d8d53c8cfb277a790"
      - qop="auth"
      - realm="intprod01"
      - response="594af657f88a657ec9667e5f48cf4479"
      - uri="/rest/novagile/user/90000"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":90000,"mail":"jp.moal@novagile.fr","card_reference":"A4E8ED34A162D191","admin":false,"authorized":true}'
  recorded_at: Mon, 28 Apr 2014 09:50:33 GMT
recorded_with: VCR 2.8.0
