%h5.m-top-none.error-heading= t('errors.unprocessable_entity.h1')
%p.lead= t('errors.unprocessable_entity.text')
%p.lead= t('errors.unprocessable_entity.unprocessable_entity')
%a.btn.btn-success.m-bottom-sm{href: "/"}
  %em.fa.fa-home
  = t('errors.internal_server_error.return')