.table   {
  &.table-vertical-center {
    th,td   {
      vertical-align: middle;
    }
  }

  thead   {
    > tr    {
      border: 1px solid #eee;
      > th    {
        border-color: #eee;
      }
    }
  }
  tbody   {
    > tr    {
      border: 1px solid #eee;

      &.selected  {
        > td    {
          background: $light-color;
        }
      }

      > td    {
        border-color: #eee;
      }
    }
  }
}

table th.text-center
,table td.text-center    {
  text-align: center;
}

table th.text-right
,table td.text-right    {
  text-align: right;
}

table.table-borderless th
,table.table-borderless td {
  border:none !important;
}

/* Datatables */
table.dataTable tr.odd td.sorting_1 {
  background-color: #f9f9f9;
}

table.dataTable tr.even td.sorting_1 {
  background-color: #fff;
}

table.dataTable tr.odd {
  background-color: #f9f9f9;
}

.paging_full_numbers    {
  margin-top: 5px;
  .ui-button {
    border: 1px solid #eee;
  }
  .ui-state-disabled  {
    cursor: default !important;
    opacity: 0.35;
  }
}

div.dataTables_processing {
  background: #3a3a3a !important;
  color: #fff !important;
  font-size: 13px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  .dt-loading {
    display: flex;
    height: auto;
    justify-content: center;
  }
  img {
    max-width: 20px;
    height: auto;
    width: 100%;
    display: block;
    margin-left: 10px;
  }
}

table.dataTable thead th .DataTables_sort_wrapper span {
  right: 6px !important;

  &:before    {
    font-family: FontAwesome;
    color: #777;
  }

  &.ui-icon-carat-2-n-s   {
    &:before    {
      content: "\f0dc";
    }
  }
  &.ui-icon-triangle-1-n   {
    top: 60% !important;
    &:before    {
      content: "\f0de";
    }
  }
  &.ui-icon-triangle-1-s   {
    top: 30% !important;
    &:before    {
      content: "\f0dd";
    }
  }
}
