.row
  .col-sm-12
    %p.text-justify ENTRE la société SAS PUGIL INVEST (ci-après désignée « le Temple »), ET tout consommateur souscrivant un abonnement sur le site temple-nobleart.fr (ci-après désigné « le Client »).

    %h4 1. Objet
    %p.text-justify
      Les présentes conditions générales de vente (ci-après les « Conditions Générales de Vente ») régissent toutes les ventes conclues entre le Temple et tout Client non professionnel sur le site internet temple-nobleart.fr. Les Conditions Générales de Vente en vigueur au jour de la commande prévalent sur toutes conditions ou stipulations contraires, elles annulent et remplacent les conditions générales de vente ayant pu régir les relations antérieures entre les Parties. La souscription de toute commande par le Client implique son adhésion aux présentes Conditions Générales de Vente. Le Client déclare avoir pris connaissance des présentes Conditions Générales de Vente et les accepter sans réserve dans leur intégralité.

    %h4 2. Commandes
    %p.text-justify
      Les commandes se font en ligne sur le temple-nobleart.fr. La commande s’opère par le choix par le Client d’une formule d’abonnement, avant de renseigner les informations le concernant, de renseigner ses coordonnées de carte bancaire pour le premier paiement de son abonnement, de prendre connaissance et d’accepter les présentes Conditions Générales de Vente, de confirmer sa commande au moyen d’un clic sur le bouton [Valider] puis de remplir le formulaire SEPA pour permettre des prélèvements automatiques pour les paiements suivants.

    %h4 3. Engagement, formules d’abonnement
    %p.text-justify
      Le Temple propose deux formules d’abonnement à durée indéterminée. Les formules se différencient par leur durée d’engagement minimale et par leur tarif.
    %ul
      %li
        Abonnement à durée indéterminée avec une durée d’engagement minimale de 1 mois à compter de sa souscription : 200 € TTC par mois
      %li
        Abonnement à durée indéterminée avec une durée d’engagement minimale de 12 mois à compter de la souscription : 145 € TTC par mois
    %p.text-justify
      Les deux formules d’abonnement sont en paiement mensuel, payé par carte bancaire pour le premier paiement puis par prélèvements bancaires pour les paiements suivants.
    %p.text-justify
      Les deux formules d’abonnement permettent au Client de résilier son abonnement en écrivant à contact@temple-nobleart.fr avant le terme du premier mois.
    %p.text-justify
      Les éventuelles offres promotionnelles ou clauses dérogatoires aux formules décrites dans les présentes conditions générales de vente doivent faire l’objet d’un échange écrit avec les services du Temple (contact@temple-nobleart.fr). L’accès au planning de réservation des cours par le Client sur son Espace Membre n’est possible qu’après avoir renseigné le formulaire autorisant le prélèvement SEPA.

    %h4 4. Prestations incluses dans l’abonnement
    %p.text-justify
      Le Temple propose au Client de pratiquer une activité sportive et notamment la boxe au sein des clubs. Sur l’Espace Membre, le Client peut consulter les jours et horaires d’ouverture et de fermeture des clubs, consulter les plannings des cours collectifs et s’inscrire à un seul cours collectif à la fois. Le Client peut accéder à l’Espace Membre consultable en ligne sur le site temple-nobleart.fr à partir de son adresse email et d’un mot de passe personnel.
    %p.text-justify
      Les clubs sont habituellement ouverts :
    %ul
      %li
        du lundi au vendredi de 7h15 à 23h
      %li
        les samedis et dimanches de 9h30 à 18h

    %p.text-justify
      Le Client peut participer à des cours collectifs dont le nombre de participants et limités et qui sont animés par des conseillers sportifs. Les cours collectifs ont une durée d’une demi-heure ou d’une heure. Ils ont habituellement lieu :
    %ul
      %li
        du lundi au vendredi de 7h30 à 9h30, puis de 11h50 à 14h20, et de 16h30 à 22h40
      %li
        les samedis et dimanches de 10h à 18h

    %p.text-justify
      Les horaires d’ouverture des clubs et des cours collectifs, dont le Client déclare avoir pris connaissance en club préalablement à la souscription de son abonnement, sont consultables, ainsi que les jours de fermeture, dans les clubs et sur l’Espace Membre. Le Temple se réserve le droit de les modifier pour répondre aux besoins de la clientèle.
    %p.text-justify
      Le Temple se réserve aussi le droit de fermer les clubs et d’interdire temporairement l’accès au Client :
    %ul
      %li
        Exceptionnellement, pour réaliser des opérations de maintenance, de travaux ou de privatisation à titre commercial,
      %li
        Pendant les jours fériés (jour de l’an, Lundi de Pâques, Fête du travail, 8 mai 1945, Jeudi de l’Ascension, Lundi de Pentecôte, Fête Nationale, Assomption, La Toussaint, Armistice, Noël),
      %li
        Pendant 5 jours durant le mois d’août.
    %p.text-justify
      Toute fermeture fera l’objet d’une information au Client dans le planning consultable aux clubs et sur l’Espace Membre. Aucune fermeture ne pourra donner droit à un remboursement, même partiel, au Client.
    %p.text-justify
      Le Client peut être amené à solliciter les services d’un conseiller sportif pour un cours particulier. Cette prestation est payante en sus de son abonnement et elle pourra être facturée directement par le conseiller sportif concerné, le Temple ne pouvant être tenu responsable des modalités de paiement et/ou de remboursement en cas d’annulation. Dans le cas d'un cours particulier organisé et facturé par le Temple, le cours particulier sera facturé au Client si l'annulation par le Client a été signifiée moins de 48h avant le cours.
    %p.text-justify
      Le Client peut également accéder aux clubs durant ses horaires d’ouverture mais n’est pas autorisé à utiliser les espaces sportifs sans l’encadrement d’un conseiller sportif du Temple. Le Temple se réserve le droit d’interdire l’accès à un Client qui n’est pas inscrit à un cours collectif pour faire respecter les effectifs admissibles sur un plan réglementaire (sécurité incendie) au sein des clubs.
    %p.text-justify
      Le Client a la possibilité de réaliser des achats au bar ou dans la boutique des clubs. Ses achats seront payés par carte bleu, par chèque, en espèces ou par prélèvement à partir des coordonnées bancaires indiquées au moment de la souscription de l’abonnement par le Client. Ce dernier peut consulter les factures mensuelles relatives à son abonnement et à ses achats sur l’Espace Membre.
    %p.text-justify
      Le Client bénéficiera en outre du prêt d’une serviette à chaque visite au Temple.
    %p.text-justify
      D’autres prestations ou abonnements optionnels et payants pourraient être proposés au Client : le cas échéant, ces prestations feront l’objet d’un contrat spécifique.


    %h4 5. Accès au club
    %p.text-justify
      Après la souscription de son abonnement et dans un délai de 15 jours, le Client se voit délivrer une carte-membre personnalisée à l’accueil du club dans lequel il s’est inscrit au moyen d’une photographie et d’un code unique, permettant de l’identifier à chaque présentation à l’entrée du club. Cette carte-membre est strictement personnelle et nécessaire pour accéder au club ainsi qu’aux différentes prestations proposées. En cas de demande de réédition par le Client de la carte-membre, en cas de 3 passages consécutifs sans carte, ou au cas de 10 passages non-consécutifs sans carte, son remplacement sera facturé 5€ par le Temple, sauf en cas de vol et sous réserve de justificatif de plainte.

    %h4 6. Obligations du Client
    %p.text-justify
      Le Client ne saurait transférer à quiconque, à titre gratuit ou onéreux, de manière occasionnelle ou permanente, sa carte-membre personnelle et/ou l’abonnement souscrit au titre du présent contrat. Le Temple refusera l’accès au club à toute personne se présentant avec une carte-membre dont elle ne serait pas personnellement titulaire (photographie et/ou informations non conformes aux données enregistrées par le Temple sur son fichier clients).
    %p.text-justify
      Pour sa sécurité, le Client s’engage à avoir fait contrôler par un médecin son aptitude à pratiquer une activité sportive et notamment la boxe préalablement à la souscription de son abonnement et à détenir l’attestation en ce sens établie par le médecin de manière à pouvoir la produire à première demande du Temple. Le Client accepte les risques normaux générés par la pratique de la boxe.
    %p.text-justify
      Le Client s’engage à respecter les consignes et recommandations que pourrait lui adresser le personnel du Temple afin de pratiquer la boxe en préservant sa santé et sa sécurité. Le Client déclare avoir bien pris connaissance du Règlement Intérieur, accessible sur le site internet temple-nobleart.fr. Le Client s’engage à respecter strictement le Règlement Intérieur, ainsi que les règles d’hygiène et de sécurité, qui pourraient lui être rappelées par le Temple. En cas de non-respect du Règlement Intérieur, le Temple se réserve le droit de prendre toutes mesures propres à assurer la préservation des intérêts de l’ensemble de ses clients et, notamment, selon l’importance du manquement reproché (i) d’adresser au contrevenant un avertissement formel ou (ii) de lui notifier par LRAR son exclusion temporaire ou définitive.
    %p.text-justify
      Pour des raisons de sécurité collective des usagers, les effets personnels du Client ne sont pas acceptés dans les salles de cours. Dans les vestiaires des clubs, des casiers munis d’un dispositif permettant leur fermeture par un cadenas apporté par le Client, sont mis à disposition. Ils ne sont pas personnellement assignés et doivent en conséquence être libérés chaque soir. Le Client les utilise sous sa propre responsabilité et en assure la fermeture au moyen du cadenas de son choix. Il s’engage néanmoins à remettre à l’accueil du Temple ses objets de valeur et ne pourra mettre en cause la responsabilité du Temple en cas de vol ou de perte des objets qui ne lui auront pas été confiés.

    %h4 7. Durée
    %p.text-justify
      L’abonnement en paiement mensuel prend effet à compter de la commande du Client ou à une autre date précisée par ses soins et confirmée par écrit par l’équipe du Temple (contact@temple-nobleart.fr) lors de la souscription, pour une durée indéterminée à compter de la date de prise d’effet de l’abonnement.
    %p.text-justify
      La non-utilisation temporaire ou définitive des prestations de l’abonnement ne donne droit à aucune résiliation, prolongation, suspension ou remboursement, sauf sur présentation d’éléments de preuves irréfutables permettant de justifier de manière incontestable une incapacité médicale de longue durée empêchant totalement la pratique de la boxe, un déménagement lointain ou une mutation professionnelle (à plus de 30 km du club), ou un licenciement. Ces justificatifs devront être fournis au Temple par LRAR (SAS PUGIL INVEST – 9 rue Molière – 75001 Paris) dans un délai de 3 mois maximum à compter de la date de l’événement donnant lieu à la non-utilisation. Dans les exceptions précitées, le Client pourra bénéficier de la prorogation de son abonnement en cas d’incapacité temporaire supérieure à 30 jours et de la résiliation de son abonnement en cas d’incapacité définitive.

    %h4 8. Droit de rétractation
    %p.text-justify
      Le Client dispose d’un délai d’un mois à compter de sa commande sur le site temple-nobleart.fr pour faire part au Temple de son intention de se rétracter, sans motif ni pénalité, par email adressé à contact@temple-nobleart.fr.

    %h4 9. Prix
    %p.text-justify
      Les prix applicables s’entendent toutes taxes comprises, ils sont exprimés en euros et sont ceux en vigueur au jour de la souscription de l’abonnement. Le Temple se réserve le droit de modifier ses tarifs. Les nouveaux tarifs s’appliquent aux abonnements souscrits postérieurement à la modification tarifaire, après que celle-ci a été publiée sur les supports de communications habituels pour informer le Client.

    %h4 10. Conditions de résiliation du contrat
    %p.text-justify
      Le Temple se réserve le droit de résilier l’abonnement de plein droit, sans préavis ni mise en demeure préalable en cas de violation des lois applicables, notamment pénales, ou celles visant à protéger les droits d’un tiers. En cas de violation grave et/ou réitérée des présentes conditions générales et/ou du règlement intérieur dans ses dispositions relatives à l’hygiène ou à la sécurité, le Temple se réserve le droit de résilier le Contrat et se réserve la possibilité de demander réparation des dommages éventuellement subis par le Temple et ce, à compter de la date de réception par le Client d’une LRAR lui notifiant ladite résiliation et ses motifs. A compter de la date de réception de la LRAR susvisée, le Client se verra refuser définitivement l’accès de la salle et devra restituer sa carte-membre.
    %p.text-justify
      En cas de non-paiement des sommes dues par le Client au titre de son abonnement (et ce, quel que soit le mode de paiement), le Client se verra immédiatement refuser l’accès au planning sur l’Espace Membre et l’accès au club et ce jusqu’à la régularisation du paiement. Le Client disposera alors d’un délai de 30 jours, à compter de la réception par le Temple du courrier de sa banque l’informant du rejet du paiement, pour régler au Temple le montant dû. En cas de non-paiement des sommes dues dans le délai imparti, le dossier sera immédiatement transmis à un huissier de justice ou à une société de recouvrement, qui se chargera de recouvrer la totalité du montant de l’abonnement, lequel devra être acquitté en une seule fois. En tout état de cause, le Temple aura la faculté de résilier le présent contrat de plein droit, à compter de la réception par le Client d’une mise en demeure de payer demeurée sans effet au terme du délai imparti pour la régularisation du paiement. A compter de cette date, le Client se verra refuser définitivement l’accès de la salle, devra restituer sa carte-membre et demeurera redevable de la totalité des sommes dues au titre de l’abonnement qu’il a souscrit dans le cadre du présent contrat. Toute inexécution par le Client de son obligation de paiement donnera lieu à l’application d’une pénalité forfaitaire de 8€).
    %p.text-justify
      Le Client a la faculté de résilier son abonnement en écrivant à contact@temple-nobleart.fr :
    %ul
      %li
        Si la demande de résiliation intervient avant la date de fin de la période minimale d’engagement, le Client devra régler le montant des sommes restant dues.
      %li
        Si la demande de résiliation intervient après la date de fin de la période minimale d’engagement, la résiliation sera effective au terme du mois de ladite résiliation.
    %p.text-justify
      Le Temple se réserve également le droit de résilier tout abonnement, à tout moment et sans motif en procédant au remboursement prorata temporis des sommes déjà payées par le Client et afférentes à la période restant.


    %h4 11. Droit à l’image
    %p.text-justify
      La réalisation de visuels (photos, vidéos) au sein du Temple est strictement interdite sans l’accord exprès du Temple. Ce dernier se réserve le droit d’engager toute action pour faire valoir ses droits en cas de diffusion publique d’images réalisées au sein du Club.
    %p.text-justify
      Le Temple est susceptible de réaliser des visuels (photos, vidéos) dans lesquels le Client peut apparaître. Le Client autorise expressément le Temple à utiliser lesdits visuels pour promouvoir le club. Le Client peut s’opposer à l’utilisation desdits visuels en l’indiquant par écrit à contact@temple-nobleart.fr ou SAS PUGIL INVEST – 9 rue Molière – 75001 Paris.

    %h4 12. Assurance
    %p.text-justify
      Le Temple est assuré auprès de la compagnie ALLIANZ, sous le N° de police 53 771 087, pour les dommages directement liés à son activité et engageant sa Responsabilité Civile.

    %h4 13. Informatique, fichiers et libertés
    %p.text-justify
      Les données concernant le Client sont destinées à la gestion de l’abonnement du Client par le Temple. Conformément à la loi du 6 janvier 1978 modifiée « Informatique, Fichiers et Libertés », le Temple pourra adresser à le Client des offres sur ses services, sauf opposition de ce dernier. Dans ce cas, le Client lui adressera un courrier en ce sens. Le Client dispose d’un droit d’accès, de rectification et de suppression relativement aux informations le concernant qu’il peut exercer à tout moment en s’adressant à SAS PUGIL INVEST – 9 rue Molière – 75001 Paris.

    %h4 14. Archivage du contrat
    %p.text-justify
      Les contrats conclus sur le site internet temple-nobleart.fr (données relatives à la commande de le Client et Conditions Générales de Vente en vigueur au jour de la commande) sont archivés pour une durée minimum de 10 ans. Le Client peut accéder aux contrats archivés en faisant la demande par courrier postal à l’adresse SAS PUGIL INVEST – 9 rue Molière – 75001 Paris.

    %h4 15. Langue
    %p.text-justify
      Les contrats conclus à l’occasion des commandes sur le site internet temple-nobleart.fr sont en langue française.
