.row
  .col-sm-12
    %h4 Article 1
    %p.text-justify Le Client doit être muni de sa carte-membre personnelle pour accéder au club Temple, équipé d’un système électronique permettant de vérifier la validité de la carte. En cas d’oubli de sa carte, le Client est invité à se rendre à l’accueil du Temple 10 minutes avant le début du cours pour procéder aux vérifications. Les cours débutant à heure précise, les retardataires se verront refuser leur participation au cours.

    %h4 Article 2
    %p.text-justify Pour des raisons de sécurité, et afin de ne pas perturber la pratique des activités sportives, le Client doit déposer ses affaires personnelles dans les casiers des vestiaires prévus à cet effet, qu’il ferme avec un cadenas qui lui est personnel (et qu’il peut acheter sur place en cas d’oubli, le Temple ne prêtant pas de cadenas). Il doit obligatoirement libérer son casier et récupérer son cadenas après son entraînement. Pour des raisons d’hygiène et de sécurité, le Temple se réserve le droit d’ouvrir les casiers non libérés.

    %h4 Article 3
    %p.text-justify Le Client s’engage à réserver sa participation à un cours collectif depuis l’Espace Membre sur temple-nobleart.fr. Le Temple pourra interdire la participation à un cours collectif à tout Client ne s’étant pas préalablement inscrit. Les cours collectifs sont prioritaires sur le cours particulier d’un Client dans l’utilisation des espaces sportifs. Le Temple pourra interdire l’accès à un espace sportif à un Client si un cours collectif ou un cours particulier doit s’y dérouler.

    %h4 Article 4
    %p.text-justify L’utilisation des espaces sportifs par le client est interdite en dehors des cours collectifs et des cours particuliers. Toute utilisation des espaces sportifs doit se faire avec l’encadrement d’un conseiller sportif du Temple.

    %h4 Article 5
    %p.text-justify Le Client doit porter des vêtements et des chaussures de sport d’intérieur, propres, spécifiques et exclusifs de toute autre utilisation. Le Client doit porter toutes les protections demandées par le conseiller sportif lors d’un cours collectif. Un protège-dents est notamment obligatoire pour tout cours collectif se déroulant sur le ring du club. Pour des raisons d’hygiène, le Client doit utiliser la petite serviette mise à sa disposition par le Temple pour la déposer sur le matériel et sur les tapis de sol qu’il utilise. L’utilisation des téléphones portables est strictement interdite dans les espaces sportifs.

    %h4 Article 6
    %p.text-justify Le Client doit respecter les bonnes mœurs et les règles de savoir-vivre envers les autres Clients et le personnel du Temple.

    %h4 Article 7
    %p.text-justify Pour assurer la tranquillité du voisinage, le Client ne doit pas faire de bruit dans la cour extérieure devant le club. Il est strictement interdit de stationner un véhicule dans la cour extérieure devant le club qui est exclusivement réservée aux conseillers sportifs.

    %h4 Article 8
    %p.text-justify Au sein de l’espace salon, le Client doit porter une tenue correcte et distincte de celle portée durant l’activité sportive.

    %h4 Article 9
    %p.text-justify Le Client s’engage à uniquement pratiquer une activité sportive au sein du club et à respecter l’activité proposée dans les différents espaces. Il s’engage à ne pas détériorer les installations et le matériel du club. Il doit, entre autre, ranger le matériel qu’il a déplacé pendant la pratique sportive. Il s’engage à respecter les consignes d’hygiène et notamment à utiliser les poubelles mises à sa disposition.

    %h4 Article 10
    %p.text-justify Le Client doit respecter l’interdiction de fumer.

    %h4 Article 11
    %p.text-justify Le Client n’est pas habilité à donner des cours ou des conseils sportifs dans l’enceinte du club Temple. Il est interdit de vendre toute sorte de services ou de produits.

    %h4 Article 12
    %p.text-justify Les personnes extérieures, bénéficiant d’une séance d’essai, ou autorisées à entrer ponctuellement dans le club en vertu d’un accord spécifique, se doivent de respecter les mêmes obligations. Pendant son entraînement, un Client ne peut être accompagné par une personne qui n’est pas abonnée, qui devra l’attendre à l’entrée du club.

    %h4 Article 13
    %p.text-justify Il n’est plus possible d’entrer dans le club 15 minutes avant l’heure affichée de fermeture.

    %h4 Article 14
    %p.text-justify Pour des raisons liées à la Responsabilité Civile du Temple, l’utilisation de matériel sportif personnel est formellement interdite dans l’enceinte du club.

    %h4 Article 15
    %p.text-justify En cas de non-respect du présent règlement intérieur, le Temple se réserve le droit d’exclure temporairement ou définitivement les contrevenants. Le non-respect du règlement intérieur par le Client est également une cause de résiliation anticipée du contrat d’abonnement par le Temple selon les modalités définies aux Conditions générales de vente.
