= image_tag 'logo-temple-login.jpg', class: 'fadeInUp animation-delay1 login-logo'
.panel.panel-brown
  .panel-heading
    %h3.panel-title{ style: 'font-family: "Open Sans",sans-serif; text-align: center;' }
      Votre demande de résiliation a bien été prise en compte et sera traitée dans un délai de 7 jours ouvrés
.center{ style: 'text-align: center;'}
  .row
    .sm-col-3
    .sm-col-6
      = link_to 'Retour au site', root_path, class: 'btn btn-brown'
